# UKZN COMP721 Project

## Sumeith Ishwanthlal (219006284)  
## Alexander Goudemond (219030365)

# Determining a suitable benchmark


- 3 Point Field Goals Attempted
- 3 Point Field Goals Made
- Assists
- Blocks
- Defensive Rebounds
- Field Goals Attempted
- Field Goals Made
- Free Throws Attempted
- Free Throws Made
- Offensive Rebounds
- Personal Fouls
- Points
- Rebounds
- Steals
- Turnover



- 3 Point Field Goals Attempted
- 3 Point Field Goals Made
- Assists
- Blocks
- Defensive Rebounds
- Field Goals Attempted
- Field Goals Made
- Free Throws Attempted
- Free Throws Made
- Offensive Rebounds
- Personal Fouls
- Points
- Rebounds
- Steals
- Turnover

In [2]:
import pandas as pd

In [43]:
df = pd.read_csv('databasebasketball/team_season.txt')

In [44]:
df

,team,year,leag,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,...,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace,won,lost
0,BOS,1946,N,1397,5133,811,1375,0,0,0,...,0,0,0,0,0,0,3900,0.000000,22,38
1,CH1,1946,N,1879,6309,939,1550,0,0,0,...,0,0,0,0,0,0,4471,0.000000,39,22
2,CL1,1946,N,1674,5699,903,1428,0,0,0,...,0,0,0,0,0,0,4308,0.000000,30,30
3,DE1,1946,N,1437,5843,923,1494,0,0,0,...,0,0,0,0,0,0,3918,0.000000,20,40
4,NYK,1946,N,1465,5255,951,1438,0,0,0,...,0,0,0,0,0,0,3840,0.000000,33,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,SAS,2004,N,2923,6450,1535,2120,987,2489,3476,...,1891,594,1246,421,323,881,7248,91.455696,59,23
1183,SEA,2004,N,2882,6498,1683,2131,1041,2311,3352,...,1948,508,1127,390,470,1317,7925,91.244949,52,30
1184,TOR,2004,N,2952,6656,1626,2101,844,2444,3288,...,1795,507,1188,360,435,1222,8311,95.012611,33,49
1185,UTA,2004,N,2828,6301,1719,2272,1047,2243,3290,...,2057,646,1213,474,486,1297,7975,91.195145,26,56
1186,WAS,2004,N,2966,6794,1795,2476,1133,2374,3507,...,1994,586,1276,412,521,1432,8268,96.008492,45,37

In [14]:
df.columns

Index(['team', 'year', 'leag', 'o_fgm', 'o_fga', 'o_ftm', 'o_fta', 'o_oreb',
       'o_dreb', 'o_reb', 'o_asts', 'o_pf', 'o_stl', 'o_to', 'o_blk', 'o_3pm',
       'o_3pa', 'o_pts', 'd_fgm', 'd_fga', 'd_ftm', 'd_fta', 'd_oreb',
       'd_dreb', 'd_reb', 'd_asts', 'd_pf', 'd_stl', 'd_to', 'd_blk', 'd_3pm',
       'd_3pa', 'd_pts', 'pace', 'won', 'lost'],
      dtype='object')

In [15]:
df.drop(["team", "year", "leag", "pace", "won", "lost"], axis = 1, inplace = True)

In [26]:
df["defensive"] = df["d_3pa"] + df["d_3pm"] + df["d_asts"] + df["d_blk"] + df["d_dreb"] + df["d_fga"] + df["d_fgm"] + df["d_fta"] + df["d_ftm"] + df["d_oreb"] - df["d_pf"] + df["d_pts"] + df["d_reb"] + df["d_stl"] + df["d_to"]
df["offensive"] = df["o_3pa"] + df["o_3pm"] + df["o_asts"] + df["o_blk"] + df["o_dreb"] + df["o_fga"] + df["o_fgm"] + df["o_fta"] + df["o_ftm"] + df["o_oreb"] - df["o_pf"] + df["o_pts"] + df["o_reb"] + df["o_stl"] + df["o_to"]

df[] = def []

In [35]:
df["ratio_offensive"] = df["offensive"] / (df["offensive"] + df["defensive"])
df["ratio_defensive"] = df["defensive"] / (df["offensive"] + df["defensive"])

In [36]:
df

,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,...,d_to,d_blk,d_3pm,d_3pa,d_pts,defensive,offensive,ratio,ratio_offensive,ratio_defensive
0,1397,5133,811,1375,0,0,0,470,1202,0,...,0,0,0,0,3900,3900,11589,2.971538,0.748208,0.251792
1,1879,6309,939,1550,0,0,0,436,1473,0,...,0,0,0,0,4471,4471,14337,3.206665,0.762282,0.237718
2,1674,5699,903,1428,0,0,0,494,1246,0,...,0,0,0,0,4308,4308,13203,3.064763,0.753983,0.246017
3,1437,5843,923,1494,0,0,0,482,1351,0,...,0,0,0,0,3918,3918,12625,3.222307,0.763163,0.236837
4,1465,5255,951,1438,0,0,0,457,1218,0,...,0,0,0,0,3840,3840,12229,3.184635,0.761031,0.238969
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1182,2923,6450,1535,2120,987,2489,3476,1771,1716,613,...,1246,421,323,881,7248,29326,32107,1.094831,0.522634,0.477366
1183,2882,6498,1683,2131,1041,2311,3352,1487,1943,553,...,1127,390,470,1317,7925,30724,32049,1.043126,0.510554,0.489446
1184,2952,6656,1626,2101,844,2444,3288,1670,1875,621,...,1188,360,435,1222,8311,33080,32238,0.974547,0.493555,0.506445
1185,2828,6301,1719,2272,1047,2243,3290,1826,2189,541,...,1213,474,486,1297,7975,31180,30181,0.967960,0.491860,0.508140
1186,2966,6794,1795,2476,1133,2374,3507,1563,1806,716,...,1276,412,521,1432,8268,32870,33291,1.012808,0.503182,0.496818

In [37]:
quantileDf = df.quantile([0, 0.25, .5, 0.75, 1], interpolation="nearest")

In [38]:
quantileDf

,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,o_asts,o_pf,o_stl,...,d_to,d_blk,d_3pm,d_3pa,d_pts,defensive,offensive,ratio,ratio_offensive,ratio_defensive
0.00,432,1020,217,278,0,0,0,215,253,0,...,0,0,0,0,1138,3010,3552,0.881732,0.468575,0.207720
0.25,2964,6633,1540,2070,0,0,3425,1704,1800,0,...,0,0,0,0,7914,27949,29841,0.981740,0.495393,0.484952
0.50,3349,7148,1711,2288,1016,2341,3628,1899,1940,629,...,1222,376,96,0,8583,31756,31790,1.014092,0.503498,0.496502
0.75,3557,7639,1917,2542,1159,2481,3990,2071,2073,720,...,1417,439,286,0,9037,33444,33467,1.062060,0.515048,0.504607
1.00,4059,9295,2607,3434,1520,3074,6131,2575,2470,1059,...,1980,654,613,1560,10723,40475,37350,3.814180,0.792280,0.531425

In [19]:
type(df.quantile([0, 0.25, .5, 0.75, 1], interpolation="nearest"))

pandas.core.frame.DataFrame

In [12]:
type(df.quantile([0, 0.25, .5, 0.75, 1], interpolation="nearest"))

pandas.core.frame.DataFrame

In [39]:
t1 = df["o_fta"].sum()
t2 = df["o_dreb"].sum()

In [41]:
t1/t2

1.4110683885009634

In [61]:
df[-31:]

,team,year,leag,o_fgm,o_fga,o_ftm,o_fta,o_oreb,o_dreb,o_reb,...,d_pf,d_stl,d_to,d_blk,d_3pm,d_3pa,d_pts,pace,won,lost
1156,WAS,2003,N,2758,6556,1579,2211,1115,2392,3507,...,1783,787,1269,446,424,1238,7990,94.099998,25,57
1157,ATL,2004,N,2942,6672,1417,1994,1100,2335,3435,...,1777,716,1235,484,467,1232,8401,93.948730,13,69
1158,BOS,2004,N,3046,6511,1775,2323,909,2438,3347,...,1937,714,1248,402,488,1370,8233,95.735855,45,37
1159,CHI,2004,N,2849,6592,1536,2048,1001,2591,3592,...,1914,685,1272,434,416,1245,7658,96.283737,47,35
1160,CHR,2004,N,2961,6859,1487,2096,1083,2335,3418,...,1857,624,1304,446,442,1224,8220,96.201630,18,64
1161,CLE,2004,N,2990,6687,1634,2174,1117,2352,3469,...,1770,549,1226,419,422,1122,7849,93.840187,42,40
1162,DAL,2004,N,3058,6691,1826,2314,990,2530,3520,...,1898,584,1258,399,451,1366,7934,95.204948,58,24
1163,DEN,2004,N,3038,6615,1765,2313,967,2473,3440,...,1960,636,1325,458,463,1342,7995,96.029640,49,33
1164,DET,2004,N,2851,6421,1588,2150,1054,2507,3561,...,1851,610,1138,367,410,1213,7336,89.839737,54,28
1165,GSW,2004,N,3029,7039,1412,1955,1069,2436,3505,...,1782,570,1231,417,450,1240,8271,95.689407,34,48
1166,HOU,2004,N,2846,6419,1551,1986,874,2601,3475,...,1773,607,1091,335,454,1343,7465,91.303230,51,31
1167,IND,2004,N,2668,6169,1748,2206,868,2418,3286,...,1883,549,1177,398,391,1071,7564,90.938339,44,38
1168,LAC,2004,N,2924,6368,1770,2274,980,2455,3435,...,1934,638,1128,393,485,1317,7912,91.881775,37,45
1169,LAL,2004,N,2895,6629,1661,2137,1028,2511,3539,...,1814,627,968,420,549,1522,8338,94.820389,34,48
1170,MEM,2004,N,2802,6271,1526,2024,887,2307,3194,...,1852,612,1279,476,426,1215,7473,90.929123,45,37
1171,MIA,2004,N,3097,6368,1658,2466,887,2639,3526,...,2020,611,1048,264,441,1269,7792,92.870872,59,23
1172,MIL,2004,N,2964,6580,1720,2229,985,2405,3390,...,1952,611,1087,370,463,1349,8218,93.594177,30,52
1173,MIN,2004,N,3045,6629,1449,1820,947,2580,3527,...,1629,540,954,323,468,1291,7815,92.771713,44,38
1174,NJN,2004,N,2753,6419,1555,2039,855,2387,3242,...,1880,601,1303,402,485,1319,7619,91.839760,42,40
1175,NOH,2004,N,2718,6555,1401,1830,1019,2281,3300,...,1728,634,1182,452,494,1346,7832,90.471931,18,64
1176,NYK,2004,N,2978,6599,1580,2060,965,2393,3358,...,1736,602,1222,389,464,1276,8177,94.384277,33,49
1177,ORL,2004,N,3034,6679,1772,2335,1038,2544,3582,...,1920,698,1176,354,443,1291,8344,97.333916,36,46
1178,PHI,2004,N,2946,6736,1731,2194,909,2536,3445,...,1929,681,1372,383,565,1560,8189,97.401680,43,39
1179,PHO,2004,N,3351,7018,1556,2080,967,2652,3619,...,1750,627,1108,342,494,1476,8470,98.476440,62,20
1180,POR,2004,N,2896,6422,1409,1944,970,2404,3374,...,1670,700,1098,414,440,1283,7949,92.568474,27,55
1181,SAC,2004,N,3203,6978,1577,2004,1023,2455,3478,...,1761,622,1196,365,471,1318,8328,96.841805,50,32
1182,SAS,2004,N,2923,6450,1535,2120,987,2489,3476,...,1891,594,1246,421,323,881,7248,91.455696,59,23
1183,SEA,2004,N,2882,6498,1683,2131,1041,2311,3352,...,1948,508,1127,390,470,1317,7925,91.244949,52,30
1184,TOR,2004,N,2952,6656,1626,2101,844,2444,3288,...,1795,507,1188,360,435,1222,8311,95.012611,33,49
1185,UTA,2004,N,2828,6301,1719,2272,1047,2243,3290,...,2057,646,1213,474,486,1297,7975,91.195145,26,56
1186,WAS,2004,N,2966,6794,1795,2476,1133,2374,3507,...,1994,586,1276,412,521,1432,8268,96.008492,45,37

In [57]:
len(pd.unique(df["team"]))

91

In [55]:
pd.unique(df["year"])

array([1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956,
       1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967,
       1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978,
       1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989,
       1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000,
       2001, 2002, 2003, 2004], dtype=int64)